html {
    @include media(xs) {
        font-size: 14px;
    }
}

body {
    color: $c_text;
    font-family: $f_noto;
}

.container {
    width: 100%;
    max-width: 990px;
    padding: 0 15px;
    margin: 0 auto;
}

h1 {
    font-family: $f_mer;
    font-size: rem(36);
    font-weight: 700;
    color: $c_title;
}

h2 {
    font-family: $f_mer;
    font-size: rem(18);
}

h3 {
    font-size: rem(14);
    font-family: $f_mer;
    color: #666666;
}

p {
    font-family: $f_noto;
    font-size: rem(14);
    line-height: 1.86;
    letter-spacing: 0.4px;
}
