$path: '../../dist/';

$s-default: 16;

// fonts
$f_mer: 'Merriweather Sans', Arial, sans-serif;
$f_noto: 'Noto Sans', 'Times New Roman', sans-serif;

// color
$c_title: #555555;
$c_text: #888888;
$c_black: #2e2d2d;
$c_gray: #eae1d2;
$c_red: #bb4a1b;
$c_red_dark: #a14016;