.home-content {
    padding: rem(40) 0;

    .container {
        >h2 {
            margin-bottom: rem(20)
        }

        main {
            background-color: #ffffff;
            padding: rem(20) rem(10);
            padding-right: rem(20);
            @include flex(row, space-between, flex-start);

            @include media(sm) {
                flex-wrap: wrap;
                padding-right: rem(10);
            }

            figure {
                width: rem(340);
                height: rem(269);
                position: relative;
                flex-shrink: 0;
                margin-right: rem(20);
                @include flex(row, flex-start, flex-end);

                @include media(sm) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: rem(20);
                }

                figcaption {
                    position: relative;
                    z-index: 1;
                    height: rem(31);
                    padding: rem(9) rem(11);
                    background-color: rgba(0, 0, 0, 0.3);
                    display: inline-block;
                    color: #ffffff;
                    margin-bottom: rem(11);
                    font-family: $f_noto;
                    font-size: rem(14);
                    letter-spacing: 0.4px;
                    position: relative;

                    &:after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        left: 100%;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 15.5px 0 15.5px 16px;
                        border-color: transparent transparent transparent rgba(0, 0, 0, 0.3);
                    }
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h2 {
                margin-bottom: rem(22);
            }

            p {
                line-height: 1.71;
            }
        }
    }
}