.portfolio {
    padding-top: rem(40);
    padding-bottom: rem(73);
    background-color: $c_red;

    .slick {
        &-slide {
            margin: 0 10px;
        }

        &-list {
            margin: 0 -10px;
        }

        &-arrow {
            position: absolute;
            top: calc(100% + #{rem(20)});
            transform: translateY(-50%);
            z-index: 1;
            color: transparent;
            width: rem(27);
            height: rem(27);
            border: solid 1px rgba(216, 216, 216, 0.5);
            background-color: rgba(#f7f6f6, .3);
            transition: background-color .1s linear;
            border-radius: 50%;
            @include flex;

            &:hover {
                border: solid 1px rgba(19, 19, 19, 0.5);
                background-color: rgba(#2e2d2d, .6);
            }

            &:before {
                content: '';
                display: inline-block;
                width: rem(17);
                height: rem(15);
                background-size: cover;
            }
        }

        &-prev {
            right: calc(#{rem(27)} + #{rem(4)});

            &:before {
                background-image: url($path + '/img/arrow-left.png');
            }
        }

        &-next {
            right: 0;

            &:before {
                background-image: url($path + '/img/arrow-right.png');
            }
        }
    }

    h2 {
        color: #ffffff;
        margin-bottom: rem(20);
    }

    &-slider {
        position: relative;

        &__item {
            position: relative;
            height: rem(174);
            display: flex !important;
            align-items: flex-end;

            a {
                width: 100%;
            }

            h3 {
                width: 100%;
                color: #ffffff;
                padding: rem(10) rem(16);
                background-color: #2e2d2d;
                letter-spacing: 0.4px;
                font-family: $f_noto;
                position: relative;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}