.services {
	padding: rem(40) 0;

	@include media(md) {
		padding-bottom: rem(25);
	}

	&-list {
		margin: 0 -7.5px;
		flex-wrap: wrap;
		@include flex(row, space-between, flex-start);
	}

	&-item {
		width: calc(25% - 15px);
		min-height: rem(340);
		margin: 0 7.5px;
		background-color: #e3d6c3;
		padding: rem(20) rem(10);
		text-align: center;

		@include media(lg) {
			width: calc(50% - 15px);
			margin-bottom: 15px;
		}

		@include media(sm) {
			width: calc(100% - 15px);
		}

		&:hover {
			figure {
				background-color: rgba($c_red, 999);
			}
		}

		figure {
			margin: 0 auto;
			width: rem(101);
			height: rem(101);
			border-radius: 50%;
			background-color: rgba($c_black, 999);
			transition: background-color .3s linear;
			margin-bottom: rem(35);
			@include flex;

			img {
				max-width: rem(64);
				max-height: rem(60);
			}
		}

		h2 {
			margin-bottom: rem(25);
			text-transform: uppercase;
		}

		p {
			letter-spacing: normal;
		}
	}
}