.footer {
    overflow: hidden;

    &-main {
        background-color: #3c3c3c;
        padding-top: rem(23);
        padding-bottom: rem(20);

        .container {
            flex-wrap: wrap;
            @include flex(row, space-between, flex-start);
        }

        .wpcf7 {
        	position: relative;
            max-width: rem(260);

            input:not([type="submit"]),
            textarea {
                background-color: #ffffff;
                width: 100%;
                margin-bottom: rem(10);
                padding: 0 rem(11);
                font-size: rem(12);
            }

            input {
                &:not([type="submit"]) {
                    height: rem(30);
                }

                &[type="submit"] {
                    border-radius: 4px;
                    background-color: rgba($c_red, 999);
                    padding: rem(10) rem(5);
                    text-transform: uppercase;
                    color: #fdfefe;
                    letter-spacing: 0.7px;
                    transition: background-color .2s linear;
                    line-height: 1;

                    &:hover {
                    	background-color: rgba($c_red_dark, 999);
                    }
                }
            }

            textarea {
                resize: none;
                height: rem(60);
            }

            br {
            	display: none;
            }

            &-response-output {
            	position: absolute;
            	margin: 0;
            	padding: 0;
            	border: none;
            	top: 102%;
            	left: 0;
            	width: 150%;
            	font-size: rem(12);
            }

            &-validation-errors {
            	color: #ffffff;
            }
        }
    }

    h3 {
        font-family: $f_mer;
        letter-spacing: 0.4px;
        color: #e1e1e1;
        margin-bottom: rem(20);
        text-transform: uppercase;
    }

    ul {
        li {
            &:not(:last-child) {
                margin-bottom: rem(14);
            }
        }

        li,
        a {
            font-size: rem(14);
        }
    }

    &-contact {
        @include media(sm) {
            margin-bottom: rem(20);
        }

    	ul {
    		li {
    			position: relative;
    			padding-left: rem(25);

    			img {
    				position: absolute;
    				left: 0;
    				top: 50%;
    				transform: translateY(-50%);
    			}
    		}
    	}
    }

    &-nav {
        @include media(sm) {
            margin-bottom: rem(20);
        }

        ul {
            li {
                transition: transform .2s linear;
                @include flex(row, flex-start);

                &:hover {
                    transform: translateX(5px);
                }

                &:before {
                    content: '';
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    margin-right: rem(14);
                    background-image: url($path + '/img/angle-arrow-right.svg');
                    background-size: contain;
                    background-repeat: no-repeat;

                }

                a {
                    text-transform: capitalize;
                }
            }
        }
    }

    &-bt {
        background-color: $c_black;
        padding-top: rem(33);
        padding-bottom: rem(21);
        font-size: rem(14);
        line-height: 1;
    }
}