.header {
    background-color: $c_red;
    padding: rem(12) 0;
    z-index: 9;
    position: relative;

    .container {
        @include flex(row, space-between);
    }

    .menu-item-has-children {

        &:hover {
            >.sub-menu {
                opacity: 1;
                transition-delay: 0s;
                transform: rotateX(0) translateY(0);

                @include media(lg) {
                    max-height: 100vh;
                }
            }
        }
    }

    nav {
        transition: transform .3s ease-in-out;

        @include media(lg) {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $c_red;
            padding: rem(50);
            transform: translateX(100%);
        }

        &.open {
            transform: translateX(0);
        }

        ul {
            li {
                position: relative;

                @include media(lg) {
                    width: 100%;
                }

                &.current-menu-item {
                    >a {
                        color: #010101;
                    }
                }

                a {
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: rem(14);

                    @include media(lg) {
                        font-size: rem(24);
                    }

                    &:hover {
                        color: #010101;
                    }
                }

                .sub-menu {
                    position: absolute;
                    left: 0;
                    top: calc(100% + #{rem(10)});
                    background-color: #e1d4c1;
                    opacity: 0;
                    transform: rotateX(90deg) translateY(-100%);
                    transition: all .3s ease-in-out .3s;

                    @include media(lg) {
                        position: static;
                        transform: none;
                        opacity: 1;
                        width: 100%;
                        max-height: 0;
                        overflow: hidden;
                    }

                    .menu-item-has-children {
                        position: relative;

                        &:after {
                            content: '';
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 4px 0 4px 4px;
                            border-color: transparent transparent transparent #454545;
                            position: absolute;
                            top: calc(50% - 4px);
                            right: 6px;

                            @include media(lg) {
                                top: rem(24);
                            }
                        }
                    }


                    &:before {
                        content: '';
                        display: inline-block;
                        height: rem(10);
                        width: rem(10);
                        background-color: #e1d4c1;
                        position: absolute;
                        bottom: calc(100% - #{rem(5)});
                        left: rem(10);
                        transform: rotate(45deg);

                        @include media(lg) {
                            content: none;
                        }
                    }

                    .sub-menu {
                        left: calc(100% + #{rem(10)});
                        top: 0;

                        @include media(sm) {
                            margin-top: 0;
                            border-top: solid 1px rgba(#9c9c9c, .3);
                        }

                        &:before {
                            bottom: initial;
                            left: initial;
                            right: calc(100% - #{rem(5)});
                            top: rem(15);
                        }
                    }

                    li {
                        width: 100%;

                        @include media(lg) {
                            margin-bottom: 0;
                        }

                        &:not(:last-child) {
                            border-bottom: solid 1px rgba(#9c9c9c, .3);
                        }

                        a {
                            width: 100%;
                            padding: rem(13) rem(21);
                            color: #454545;
                            white-space: nowrap;
                            display: block;
                            transition: background-color .3s linear;

                            &:hover {
                                background-color: rgba(#9e9e9e, 999);
                            }
                        }
                    }
                }
            }
        }

        >ul {
            @include flex;

            @include media(lg) {
                flex-direction: column;
                align-items: flex-start;
            }

            li {

                @include media(lg) {
                    margin-bottom: rem(25);
                }

                &:not(:last-child) {
                    margin-right: rem(30);

                    @include media(lg) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    button {
        height: rem(20);
        @include flex(column, space-between);
        display: none;
        z-index: 10;

        @include media(lg) {
            display: flex;
        }

        &.open {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5.3px, 8px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5.3px, -8px);
                }
            }
        }

        span {
            display: block;
            height: 2px;
            width: rem(35);
            border-radius: 5px;
            background-color: #ffffff;
            transition: all .3s linear;
        }
    }
}