.hero {
    opacity: 0;
    transition: opacity .5s linear;

    &.slick-initialized {
        opacity: 1;
    }

    .slick {
        &-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            color: transparent;
            width: rem(43);
            height: rem(43);
            opacity: 0.6;
            border: solid 1px rgba(216, 216, 216, 0.5);
            background-color: rgba(#f7f6f6, .3);
            transition: background-color .1s linear;
            border-radius: 50%;
            @include flex;

            @include media(xl) {
                top: inherit;
                bottom: 0;
            }

            &:hover {
                border: solid 1px rgba(19, 19, 19, 0.5);
                background-color: rgba(#2e2d2d, .6);
            }

            &:before {
            	content: '';
            	display: inline-block;
            	width: rem(26);
  				height: rem(24);
  				background-size: cover;
            }
        }

        &-prev {
        	left: calc((100vw - 990px - 100px) / 2);

        	@include media(xl) {
        		left: rem(15);
        	}

        	&:before {
        		background-image: url($path + '/img/arrow-left.png');
        	}
        }

        &-next {
        	right: calc((100vw - 990px - 100px) / 2);

        	@include media(xl) {
        		right: rem(15);
        	}

        	&:before {
        		background-image: url($path + '/img/arrow-right.png');
        	}
        }

        &-dots {
            position: absolute;
            bottom: rem(11);
            left: 50%;
            transform: translateX(-50%);
            @include flex;

            li {
                &:not(:last-child) {
                    margin-right: rem(5);
                }

                &.slick-active {
                    button {
                        background-color: #ac4418;
                    }
                }

                button {
                    color: transparent;
                    width: 41px;
                    height: 11px;
                    opacity: 0.6;
                    border: solid 1px rgba(160, 159, 159, 0.6);
                    background-color: #ffffff;
                }
            }
        }
    }

    &-slide {
        position: relative;
        min-height: rem(520);
        @include flex(row, flex-start);
        display: flex !important;

        @include media(sm) {
            padding-top: rem(20);
            padding-bottom: rem(70);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &__text {
            background-color: rgba(76, 52, 66, 0.5);
            border: solid 1px #4e3644;
            color: #ffffff;
            padding: rem(82) 0 rem(72) rem(25);
            max-width: 662px;

            @include media(lg) {
                margin: 0 auto;
                padding: rem(20);
            }

            h1 {
                color: #ffffff;
                text-transform: uppercase;
                margin-bottom: rem(36);
            }

            p {
                font-size: rem(24);
                line-height: 1.5;
                font-family: $f_mer;
                text-transform: uppercase;
            }
        }
    }
}